.row.row-box
  .twelve.columns
    h6.subheader= title

.row.row-box
  .twelve.columns
     form(action='/list', method='post', class='nice')
      .nize-title
        label(for='list-name') name 
        input(type='text', name='name', class='input-text')
      .submit
        input(type='submit', value='create', class='radius small button')
