section#featured
  .container_12.inner

footer#footer
  .container_12.inner
    nav.footer-menu.grid_8
      ul
        li
          a(href="#")= t('nav.about')
        li
          a(href="#")= t('nav.blog')
        li
          a(href="#")= t('nav.faq')
        li
          a(href="#")= t('nav.imprint')

    p.imprint
      a.liechtenecker-website(href="http://www.liechtenecker.at", class="grid_4")=t('app.imprint')





- var userId = user ? user._id : ''
- var userLang = user ? user.lang : "en"
- var ratings = ratings ? ratings : {}
- var lists = lists ? lists: {}

script
  var App = {
    user: "#{userId}",
    lang: "#{userLang}",
    lists: !{JSON.stringify(lists)},
    ratings: !{JSON.stringify(ratings)}
  }

  $.i18n.setLng("#{userLang}");

script(src='/javascripts/app.js')
script require('initialize');
