- var title = title || 'No title defined'
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title= title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/javascripts/vendor.js')
    script(src='/i18next/i18next.js')
