if active
  - var active_class = ""
else
  - var active_class = "no-active"

if bordered
  - var bordered_class = "bordered"
else
  - var bordered_class = ""

.ratingfilter(class=bordered_class)
  label Rating:
  ul.rating(class=active_class)
    li.current(style="width: " + (value * 25) + "%;") 5

    li
        a(href="javascript:void(0);", data-rating-value="1", title=t("rating.1")).rate1 1
    li
        a(href="javascript:void(0);", data-rating-value="2", title=t("rating.2")).rate2 2
    li
        a(href="javascript:void(0);", data-rating-value="3", title=t("rating.3")).rate3 3
    li
        a(href="javascript:void(0);", data-rating-value="4", title=t("rating.4")).rate4 4

if active
  script
    $(document).ready(function(){

      // manage rating
      $(".ratingfilter").click(function(evt){

        var element = evt.target;
        var value = $(element).attr("data-rating-value");
        if(value == undefined) {
          value = 0;
        }

        manageRating(value, $(this));
      });
    });

    function manageRating(value, element) {

      // show stars
      element.find(".current").css("width", (25*value) + "%");

      // add hidden input
      if(element.find('input[name="rating"]').length == 0) element.append('<input type="hidden" name="rating" />');

      element.find('input[name="rating"]').val(value);
    }