h1.logo.grid_4
  a(href="/") Weddynize

if user
  nav.grid_6.top-menu.filter
    ul
      li
        a.nize-state.small.button.lightgrey(href="/all")= t('nav.all')
      li
        a.nize-state.small.button.lightgrey(href="/")= t('nav.you')

  != partial('usermenu')

else
  nav.grid_8.top-menu
    ul
      li
        a.button.join(href="/register")= t('nav.join')
      li
        a.button.login.orange(href="/login")= t('nav.login')
p.clear