.usermenu.grid_2
  .dropdown
    a.current.select-button.bordered
      span
        img(src=user.avatar, alt="avatar of " + user.username, title=user.username, class="avatar userimage")
        =t('nav.you')
    ul.dropdown-box
      li.link-type
        a(href="/nize/add")= t('nav.add')
      li.link-type
        a(href="/bookmarklet")= t('nav.bookmarklet')
      li.text-type
        a(href="/settings")= t('nav.settings')
      li.link-type
        a(href="/logout")= t('nav.logout')