/**********************************************************************
* fonts.styl
* holds all special font-definitons.
**********************************************************************/

/*@font-face {
    font-family: 'VerlagXLight';
    src: url('../../fonts/verlagbold/verlag-bold.eot');
    src: url('../../fonts/verlagbold/verlag-bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/verlagbold/verlag-bold.woff') format('woff'),
         url('../../fonts/verlagbold/verlag-bold.ttf') format('truetype'),
         url('../../fonts/verlagbold/verlag-bold.svg#VerlagBold') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'VerlagLight';
    src: url('../../fonts/verlaglight/verlag-light.eot');
    src: url('../../fonts/verlaglight/verlag-light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/verlaglight/verlag-light.woff') format('woff'),
         url('../../fonts/verlaglight/verlag-light.ttf') format('truetype'),
         url('../../fonts/verlaglight/verlag-light.svg#VerlagLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VerlagBookItalic';
    src: url('../../fonts/verlagbookitalic/verlag-bookitalic.eot');
    src: url('../../fonts/verlagbookitalic/verlag-bookitalic.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/verlagbookitalic/verlag-bookitalic.woff') format('woff'),
         url('../../fonts/verlagbookitalic/verlag-bookitalic.ttf') format('truetype'),
         url('../../fonts/verlagbookitalic/verlag-bookitalic.svg#VerlagBookItalc') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**********************************************************************
* grid.styl
* generated grid-system.
**********************************************************************/


/*
1020px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.04
Learn more ~ http://www.gridsystemgenerator.com/
*/

/*
Forces backgrounds to span full width,
even if there is horizontal scrolling.
Increase this if your layout is wider.

Note: IE6 works fine without this fix.
*/
body {
        min-width: 960px;
}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
        margin-left: auto;
        margin-right: auto;
        width: 1020px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
        display: inline;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
        position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 65px;}
.container_12 .grid_2 {width: 150px;}
.container_12 .grid_3 {width: 235px;}
.container_12 .grid_4 {width: 320px;}
.container_12 .grid_5 {width: 405px;}
.container_12 .grid_6 {width: 490px;}
.container_12 .grid_7 {width: 575px;}
.container_12 .grid_8 {width: 660px;}
.container_12 .grid_9 {width: 745px;}
.container_12 .grid_10 {width: 830px;}
.container_12 .grid_11 {width: 915px;}
.container_12 .grid_12 {width: 1000px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 85px;}
.container_12 .prefix_2 {padding-left: 170px;}
.container_12 .prefix_3 {padding-left: 255px;}
.container_12 .prefix_4 {padding-left: 340px;}
.container_12 .prefix_5 {padding-left: 425px;}
.container_12 .prefix_6 {padding-left: 510px;}
.container_12 .prefix_7 {padding-left: 595px;}
.container_12 .prefix_8 {padding-left: 680px;}
.container_12 .prefix_9 {padding-left: 765px;}
.container_12 .prefix_10 {padding-left: 850px;}
.container_12 .prefix_11 {padding-left: 935px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 85px;}
.container_12 .suffix_2 {padding-right: 170px;}
.container_12 .suffix_3 {padding-right: 255px;}
.container_12 .suffix_4 {padding-right: 340px;}
.container_12 .suffix_5 {padding-right: 425px;}
.container_12 .suffix_6 {padding-right: 510px;}
.container_12 .suffix_7 {padding-right: 595px;}
.container_12 .suffix_8 {padding-right: 680px;}
.container_12 .suffix_9 {padding-right: 765px;}
.container_12 .suffix_10 {padding-right: 850px;}
.container_12 .suffix_11 {padding-right: 935px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 85px;}
.container_12 .push_2 {left: 170px;}
.container_12 .push_3 {left: 255px;}
.container_12 .push_4 {left: 340px;}
.container_12 .push_5 {left: 425px;}
.container_12 .push_6 {left: 510px;}
.container_12 .push_7 {left: 595px;}
.container_12 .push_8 {left: 680px;}
.container_12 .push_9 {left: 765px;}
.container_12 .push_10 {left: 850px;}
.container_12 .push_11 {left: 935px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -85px;}
.container_12 .pull_2 {left: -170px;}
.container_12 .pull_3 {left: -255px;}
.container_12 .pull_4 {left: -340px;}
.container_12 .pull_5 {left: -425px;}
.container_12 .pull_6 {left: -510px;}
.container_12 .pull_7 {left: -595px;}
.container_12 .pull_8 {left: -680px;}
.container_12 .pull_9 {left: -765px;}
.container_12 .pull_10 {left: -850px;}
.container_12 .pull_11 {left: -935px;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
        content: "\0020";
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
}
.clearfix:after {
        clear: both;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
        zoom: 1;
}/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/**********************************************************************
* buttons.scss
* Styles for buttons.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * generic basic button 
 */
.button, button, input[type="submit"] {
  /* layout */
  display: block;
  box-sizing: content-box;
  width: 100%;
  padding: 13px 5px 10px;
  min-width: 120px;
  /* style */
  color: white;
  background: #95c3e4;
  background-position: 10px center;
  background-repeat: no-repeat;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-family: "VerlagLight";
  font-weight: bolder;
  font-size: 0.8em;
  -webkit-transition: 0.1s ease-in;
  cursor: pointer; }
  .button:hover, button:hover, input[type="submit"]:hover {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none;
    background-color: #79b3dd; }
  .button:active, button:active, input[type="submit"]:active {
    background-color: #6cacda;
    box-shadow: none; }

/*
 * smaller button style
 */
.button.small {
  padding: 9px 5px 6px;
  min-width: 110px;
  margin-top: 4px; }

/*
 * buttons in all colors
 */
.button.darkblue {
  background-color: #325c99; }
  .button.darkblue:hover {
    background-color: #294c7e; }
  .button.darkblue:active {
    background-color: #254573; }

.button.green {
  background-color: #749581; }
  .button.green:hover {
    background-color: #63826f; }
  .button.green:active {
    background-color: #5d7968; }

.button.orange {
  background-color: #d9c6a9; }
  .button.orange:hover {
    background-color: #ceb690; }
  .button.orange:active {
    background-color: #c9af86; }

.button.darkgrey {
  background-color: #818181; }
  .button.darkgrey:hover {
    background-color: #6f6f6f; }
  .button.darkgrey:active {
    background-color: #686868; }

.button.lightgrey {
  background-color: #f3f3f4;
  border: 1px solid #d8d8dc;
  color: #818181; }
  .button.lightgrey:hover {
    background-color: #e0e0e3;
    color: black; }
  .button.lightgrey:active {
    background-color: #d8d8dc;
    color: black; }

.button.purple {
  background-color: #9284e9;
  border: 1px solid #6c59e1;
  color: white; }
  .button.purple:hover {
    background-color: #7766e4;
    color: white; }
  .button.purple:active {
    background-color: #6c59e1;
    color: white; }

.button.pink {
  background-color: #d41f56;
  border: 1px solid #a81844;
  color: white; }
  .button.pink:hover {
    background-color: #b51a49;
    color: white; }
  .button.pink:active {
    background-color: #a81844;
    color: white; }

/*
 * buttons with icons 
 */
.button.facebook {
  background-image: url("../images/facebook.png"); }

.button.join {
  background-image: url("../images/join.png"); }

.button.login {
  background-image: url("../images/login.png"); }

.button.load-more {
  background-image: url("../images/load-more.png"); }

.button.disabled {
  display: none; }

.bookmarklet {
  background: #d9c6a9;
  cursor: -webkit-grab;
  border-right: 3px solid #c2a374;
  border-bottom: 3px solid #d3bd9b;
  width: 250px; }
  .bookmarklet:hover {
    background: #d9c6a9;
    outline: 2px dashed #818181; }
/**********************************************************************
* custom.scss
* Styles for custom elements, not used in many places
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/**********************************************************************
* Nizes-Grid-System (only for nizes!)
**********************************************************************/
/*
 * logo
 */
.logo {
  margin-top: 10px;
  margin-bottom: 0;
  background: url("../images/logo.png") no-repeat;
  height: 30px; }
  .logo a {
    display: block;
    text-indent: -9999px; }

/*
 * Imprint text in the footer
 */
.imprint {
  /* layout */
  margin: 0;
  padding: 15px 0;
  float: right;
  /* style */
  font-size: 14px;
  font-family: 'VerlagBookItalic'; }
  .imprint a {
    background: url("../images/liechtenecker-tinkering.png") no-repeat right center; }

/*
 * search-form controller for searching nizes.
 */
.l-search-controls {
  display: block;
  float: left;
  width: 100%;
  position: relative; }

.l-search-controls-inner {
  position: absolute;
  top: 15px;
  float: left;
  width: 1000px;
  padding: 10px 10px 5px;
  -webkit-transition: 0.1s ease-in; }
  .l-search-controls-inner .dropdown {
    width: 232px; }
  .l-search-controls-inner .ratingfilter {
    width: 210px;
    float: left;
    margin-left: 24px; }
  .l-search-controls-inner .search {
    width: 436px;
    float: left;
    margin-left: 24px; }

.sticky .l-search-controls-inner {
  position: relative;
  top: auto; }

.ratingfilter {
  width: 160px;
  float: left; }
  .ratingfilter ul {
    clear: none; }

/*
 * bookmarklet
 */
.bookmarklet-container {
  float: left;
  width: 100%;
  overflow-x: hidden; }
  .bookmarklet-container .inner {
    -webkit-transition: margin-left 0.5s ease-in;
    float: left; }
    .bookmarklet-container .inner .slide {
      float: left; }

p.add-bookmarklet {
  text-align: center;
  color: #818181; }
  p.add-bookmarklet a.button.bookmarklet {
    margin: 60px auto 10px; }

/*
 * siblings_container
 */
.siblings_container a {
  -webkit-transition: 0.1s ease-in;
  border: 5px solid white;
  display: block;
  float: left;
  margin-right: 7px; }
  .siblings_container a:hover {
    border-color: #9284e9; }
.siblings_container img {
  width: 64px;
  height: 64px;
  display: block;
  float: left; }

form.user-settings img.userimage {
  border: 5px solid white; }

/*
 * emocion
 */
.emocion {
  font-size: 15em;
  margin: 0 auto;
  line-height: 0.4em;
  display: inline-block;
  -webkit-transform: rotate(90deg); }
  .emocion .smaller {
    font-size: 0.7em; }
/**********************************************************************
* forms.scss
* General form + userform styles.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * generic forms
 */
form {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%; }
  form fieldset {
    border: none;
    margin: 0;
    padding: 0; }
  form ul, form ol {
    margin: 0;
    padding: 0 0 10px;
    width: 100%;
    float: left;
    clear: both;
    list-style: none; }
    form ul li, form ol li {
      clear: both;
      float: left;
      margin: 0 0 15px; }
      form ul li.hr.full, form ul li.hr, form ol li.hr.full, form ol li.hr {
        padding-top: 0; }
      form ul li ul, form ul li ol, form ol li ul, form ol li ol {
        padding-bottom: 0;
        margin-bottom: -10px; }
        form ul li ul li, form ul li ol li, form ol li ul li, form ol li ol li {
          float: none; }

/*
 * labels
 */
label {
  font-size: 1em;
  font-family: "VerlagLight";
  text-transform: uppercase;
  font-weight: bolder;
  color: #818181;
  display: block;
  padding-bottom: 5px; }
/**********************************************************************
* inputs.scss
* All user-input elements.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/**********************************************************************
* Nizes-Grid-System (only for nizes!)
**********************************************************************/
/*
 * Generic Input
 */
input, textarea {
  /* layout */
  position: relative;
  display: block;
  width: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 11px 5px 8px;
  /* style */
  border: solid 1px #818181;
  font-size: 0.8em;
  font-family: 'VerlagLight';
  text-decoration: none;
  text-transform: uppercase;
  color: #818181;
  white-space: nowrap;
  outline: none;
  -webkit-transition: box-shadow 0.1s ease-in; }
  input:hover, textarea:hover {
    color: black; }
  input:focus, textarea:focus {
    box-shadow: 0 0 4px #9284e9;
    color: black; }

textarea {
  resize: vertical;
  min-height: 100px; }

.multiselect {
  position: relative;
  padding-bottom: 60px;
  float: none; }
  .multiselect.bordered {
    padding: 8px 5px 60px; }
  .multiselect li {
    padding-top: 3px;
    margin-bottom: 4px; }
    .multiselect li input {
      float: left;
      display: block;
      width: auto;
      margin: 4px 8px 0 5px; }
    .multiselect li label {
      display: inline;
      font-size: 0.8em; }
  .multiselect li.add {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #f3f3f4; }
    .multiselect li.add input {
      border: none;
      float: left;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 2px;
      right: 75px;
      bottom: 2px;
      left: 70px; }
    .multiselect li.add label {
      float: left;
      font-family: "VerlagBookItalic";
      padding-left: 10px;
      width: 60px;
      height: 12px;
      font-size: 0.6em;
      position: absolute;
      left: 10px;
      top: 50%;
      margin: -6px 0 0 0;
      padding: 0; }
    .multiselect li.add button {
      position: absolute;
      width: 60px;
      min-width: 60px;
      right: 2px;
      bottom: 2px;
      margin: 0; }

/*
 * search input field
 */
.search input {
  /*width: columnWidth(47, 2);*/
  padding: 15px 5px 11px 45px;
  display: block;
  background: white url("../images/search-loupe.png") no-repeat 14px 12px; }

/*
 * input instant edit field
 */
.nize p.nize-field-edit, .nize h2.nize-field-edit, .nize-field-edit {
  min-height: 30px;
  -webkit-transition: box-shadow 0.1s ease-in; }
  .nize p.nize-field-edit:focus, .nize h2.nize-field-edit:focus, .nize-field-edit:focus {
    box-shadow: 0 0 4px #9284e9;
    outline: none; }
  .nize p.nize-field-edit:hover, .nize h2.nize-field-edit:hover, .nize-field-edit:hover {
    cursor: pointer; }
  .nize p.nize-field-edit.highlight, .nize h2.nize-field-edit.highlight, .nize-field-edit.highlight {
    background: #749581;
    color: white;
    -webkit-transition: background 0.2s ease-in; }
    .nize p.nize-field-edit.highlight.error, .nize h2.nize-field-edit.highlight.error, .nize-field-edit.highlight.error {
      background: #d41f56; }

.nize-open-unit:hover .nize-field-edit, .nize-open-unit .nize-field-edit.show-edit {
  background: #f3f3f4 url("../images/nize-field-edit.png") no-repeat right center; }

.nize-open-unit:hover .nize-field-edit.highlight, .nize-open-unit .nize-field-edit.show-edit.highlight {
  background: #749581;
  color: white; }
/**********************************************************************
* navigation.scss
* Styles for all navigation elements.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * general nav style
 */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block; }
    nav ul li a.button {
      width: auto; }

/*
 * top menu
 */
.top-menu ul {
  float: right;
  text-align: right; }
  .top-menu ul li {
    margin-left: 20px; }

/*
 * footer menu 
 */
.footer-menu ul {
  padding: 15px 0;
  float: left; }
  .footer-menu ul li {
    float: left;
    padding: 0 10px; }
    .footer-menu ul li a {
      font-size: 14px;
      font-family: 'VerlagBookItalic'; }
/**********************************************************************
* text.scss
* All general text styles for the application.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * Headlines
 */
h2, h3, h4 {
  font-family: "Verlag-XLight";
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 10px 0; }

h2 {
  color: #9284e9;
  font-size: 2em; }

h3 {
  text-align: left;
  color: #818181;
  font-size: 1.5em;
  font-weight: normal; }

h4 {
  text-align: left;
  color: #818181;
  font-size: 1.3em;
  font-weight: normal; }

p {
  font-family: "VerlagLight"; }

/*
 * lists
 */
ul, ol {
  font-family: "VerlagLight"; }

/*
 * link
 */
a {
  color: #818181;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in; }
  a:hover {
    color: black;
    text-decoration: underline; }

/*
 * paragraph
 */
.center {
  text-align: center; }

/*
 * horizontal ruler
 */
.hr {
  /* layout */
  position: relative;
  padding: 10px 0;
  /* style */
  text-align: center;
  color: #818181;
  font-size: 0.8em; }
  .hr .left, .hr .right {
    display: block;
    height: 1px;
    top: 50%;
    margin-top: -1px;
    position: absolute;
    width: 48%;
    border-bottom: 1px dotted #6B6E71; }
  .hr .left {
    left: 0; }
  .hr .right {
    right: 0; }
  .hr.full {
    border-bottom: 1px dotted #6B6E71;
    padding-top: 10px;
    margin-bottom: 20px; }
/**********************************************************************
* base.scss
* All basic styles.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
body {
  background: #f3f3f4; }

/*
 * makes the browser stop scrolling when a popup is open
 */
body.noscroll {
  overflow: hidden !important; }
  body.noscroll #header.sticky {
    margin-right: -15px; }

/*
 * set an element invisible, but not hidden
 */
.h {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block; }

/*
 * adds text-align left to elements
 */
.text_left {
  text-align: left; }

/*
 * generic borderd class mostly used for rating-widgets.
 */
.bordered {
  border: 1px solid #818181;
  -webkit-transition: 0.1s ease-in;
  padding: 12px 10px 11px;
  background: white; }
  .bordered:hover {
    border: 1px solid black; }
/**********************************************************************
* layout.scss
* Basic page structure.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * Basic styles for all main elements
 */
#header, #content, #featured, #footer {
  position: relative;
  width: 100%;
  z-index: 20;
  float: left;
  clear: both; }
  #header .inner, #content .inner, #featured .inner, #footer .inner {
    padding: 10px 0; }

/*
 * Header
 */
#header {
  /* layout */
  padding-top: 6px;
  z-index: 30;
  /* style */
  background: white url("../images/header-decoration.jpg") repeat-x;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.1s ease-in; }
  #header.smaller {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }
  #header.sticky {
    position: fixed;
    margin-bottom: 0 !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50; }

/*
 * Content
 */
#content {
  /* layout */
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
  /* style */
  background-color: #f3f3f4; }

/*
 * Featured Content
 */
#featured {
  /* layout */
  min-height: 150px;
  padding-bottom: 40px;
  /* style */
  background: url("../images/yellow-bg.jpg") repeat;
  text-align: center;
  color: #818181;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  outline: 1px solid #d9c6a9; }

/*
 * Footer
 */
#footer {
  background: white; }
/**********************************************************************
* dropdown.scss
* All special dropdown menues.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * Generic dropdown widget
 */
.dropdown {
  /* layout */
  position: relative;
  display: block;
  height: 44px;
  float: left; }
  .dropdown > a.select-button {
    /* layout */
    position: relative;
    width: auto;
    display: block;
    padding-left: 45px;
    padding-right: 45px;
    /* style */
    background: white url("../images/dropdown-arrow.png") no-repeat 20px center;
    cursor: pointer;
    font-family: 'VerlagLight';
    font-weight: bolder;
    color: #9284e9;
    -webkit-transition: 0.1s ease-in; }
    .dropdown > a.select-button img {
      height: 40px;
      margin: -1px 5px -15px 0; }
    .dropdown > a.select-button span {
      color: #818181; }
    .dropdown > a.select-button:hover, .dropdown > a.select-button:focus {
      text-decoration: none; }
  .dropdown ul.dropdown-box {
    /* layout */
    position: absolute;
    display: none;
    top: 40px;
    left: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    z-index: 10;
    /* style */
    border: solid 1px #bdbebe;
    background: rgba(255, 255, 255, 0.95);
    list-style: none; }
    .dropdown ul.dropdown-box > li {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      font-size: 0.9em;
      font-family: 'VerlagLight';
      font-weight: bolder;
      text-decoration: none;
      text-transform: uppercase;
      color: #818181;
      white-space: nowrap; }
      .dropdown ul.dropdown-box > li a {
        -webkit-transition: none; }
      .dropdown ul.dropdown-box > li:hover {
        background: #9284e9;
        color: white; }
        .dropdown ul.dropdown-box > li:hover a {
          color: white;
          text-decoration: none; }
      .dropdown ul.dropdown-box > li.link-type {
        padding: 0; }
        .dropdown ul.dropdown-box > li.link-type a {
          padding: 10px;
          display: block; }
  .dropdown.open ul.dropdown-box {
    display: block; }

/*
 * usermenu
 */
.usermenu .dropdown .select-button {
  padding-left: 1px;
  width: 102px;
  background-position: 125px center;
  padding-bottom: 11px;
  padding-top: 2px; }
/**********************************************************************
* file-upload.scss
* All user-input elements.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
div.file-upload {
  background: white;
  border: 2px dashed #9284e9;
  text-align: center;
  display: block;
  width: 100%;
  padding: 3px 3px 0;
  position: relative; }
  div.file-upload .instructions {
    padding: 50px 5px; }
  div.file-upload input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    padding: 0;
    opacity: 0;
    cursor: pointer; }
  div.file-upload img.preview {
    width: 100%; }
/**********************************************************************
* flash.scss
* All messages.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
#flash {
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
  -webkit-transition: 0.1s ease-in; }
  #flash p {
    margin: 0;
    display: inline-block;
    padding: 5px 0 1px;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    color: white; }
    #flash p .text {
      float: left;
      padding: 8px 0; }
    #flash p .icon {
      text-indent: -99999px;
      float: left;
      height: 30px;
      width: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      padding-right: 15px; }
  #flash .error {
    background: #d41f56; }
    #flash .error .icon {
      background-image: url("../images/icons/error.png"); }
  #flash .warning {
    background: #d9c6a9; }
    #flash .warning .icon {
      background-image: url("../images/icons/warning.png"); }
  #flash .success {
    background: #749581; }
    #flash .success .icon {
      background-image: url("../images/icons/success.png"); }

.sticky #flash p {
  font-size: 0.7em; }
  .sticky #flash p .text {
    padding: 5px 0; }
  .sticky #flash p .icon {
    height: 20px; }

/*
 * Inline form flashes 
 */
input.error {
  border-color: #d41f56; }

label.errormessage {
  /* layout */
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: 160px;
  /* style */
  font-family: 'VerlagBookItalic';
  text-transform: uppercase;
  font-size: 0.7em;
  background-image: url("../images/error_arrow_right.png");
  background-repeat: no-repeat;
  background-position: right 11px; }

label.errormessage span {
  background: #d41f56;
  color: white;
  padding: 10px;
  display: block;
  margin-right: 10px; }
/**********************************************************************
* images.scss
* All image styles.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/*
 * image-box
 */
.image-box {
  height: auto;
  display: block;
  background: #f3f3f4;
  text-align: center;
  overflow: hidden;
  position: relative; }
  .image-box.nize-image {
    height: 194px; }
  .image-box img {
    vertical-align: middle; }

img.avatar {
  height: 40px;
  width: auto; }

img.thumb {
  width: 194px;
  height: auto; }

img.full {
  width: 100%;
  height: auto; }
/**********************************************************************
* nize.scss
* Nize preview + open + detail view.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/**********************************************************************
* Nizes-Grid-System (only for nizes!)
**********************************************************************/
/*
 * basic nize styling for listening in overview
 */
.nize {
  /* layout */
  position: absolute;
  padding: 19px;
  width: 194px;
  /* style */
  background: white;
  -webkit-transition: 0.5s opacity ease-out; }
  .nize h2, .nize p {
    /* layout */
    overflow: hidden;
    text-overflow: ellipsis;
    /* style */
    font-family: 'VerlagLight';
    font-weight: normal;
    font-size: 20px;
    color: black;
    text-align: left;
    white-space: nowrap; }
  .nize p {
    font-size: 15px; }

/*
 * an open nize
 */
.nize-open {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: auto;
  overflow-y: scroll;
  transition: all 0.3s ease-out; }
  .nize-open img {
    height: 200px; }
  .nize-open a.nize-image {
    height: auto; }

.nize-open-unit {
  position: fixed;
  transition: all 0.3s ease-out;
  border: solid 1px rgba(0, 0, 0, 0.17);
  padding: 25px; }
  .nize-open-unit p {
    margin: 20px 0 30px 0;
    line-height: 1.5; }
  .nize-open-unit img {
    visibility: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: none; }

.nize-open.loading .nize-open-unit {
  background: transparent;
  border: solid 1px rgba(0, 0, 0, 0); }
  .nize-open.loading .nize-open-unit .nize-open-header {
    display: none; }
  .nize-open.loading .nize-open-unit p {
    display: none; }
  .nize-open.loading .nize-open-unit a {
    background: transparent; }
  .nize-open.loading .nize-open-unit img  {
    width: auto;
    transition-property: height; }

.nize-open.loaded .nize-open-unit {
  position: static;
  margin: 60px auto 300px;
  transition-property: none; }

.nize-open.visible {
  background-color: rgba(255, 255, 255, 0.7); }
  .nize-open.visible .nize-open-unit {
    top: 100px !important;
    box-shadow: 0 3px 50px rgba(34, 25, 25, 0.2);
    width: 600px; }
    .nize-open.visible .nize-open-unit img {
      transition-property: height, margin-left  background, border;
      width: auto; }

.nize-open-header {
  position: relative;
  margin-bottom: 20px; }
  .nize-open-header h2 {
    display: inline-block;
    width: 516px;
    margin: 0;
    font-size: 25px; }
  .nize-open-header ul.rating {
    display: inline-block; }

/*
 * a list of nizes
 */
.l-nizes {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  clear: both; }
/**********************************************************************
* rating.scss
* Rating widget.
**********************************************************************/
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/
/*
 * colors
 */
/*
 * s/w
 */
/**********************************************************************
* Nizes-Grid-System (only for nizes!)
**********************************************************************/
/*
 * General rating style
 */
.rating,
.rating a:hover,
.rating a:active,
.rating a:focus,
.rating .current {
  background: url("../images/star.gif") left; }

.rating {
  /* layout */
  position: relative;
  width: 80px;
  height: 25px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  /* style */
  background-position: top left;
  list-style: none; }
  .rating li {
    display: inline; }

.rating a,
.rating .current {
  /* layout */
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  overflow: hidden;
  /* style */
  text-indent: -9000px;
  line-height: 25px;
  outline: none;
  border: none;
  -webkit-transition: none; }

.rating a:hover,
.rating a:active,
.rating a:focus {
  background-position: left bottom; }

.rating.no-active a:hover,
.rating.no-active a:active,
.rating.no-active a:focus {
  background-position: right center;
  background: none;
  cursor: default; }

.rating .current-rating {
  z-index: 1;
  background-position: left center; }

.rating a.rate1 {
  width: 25%;
  z-index: 6; }

.rating a.rate2 {
  width: 50%;
  z-index: 5; }

.rating a.rate3 {
  width: 75%;
  z-index: 4; }

.rating a.rate4 {
  width: 100%;
  z-index: 3; }

/*
 * ratingfilter
 */
.ratingfilter {
  font-size: 1em;
  color: #818181;
  padding-top: 9px;
  padding-bottom: 8px; }
  .ratingfilter label {
    float: left;
    padding: 4px 5px 0 0; }
