<div class="list-item" data-id="{{list._id}}">
  <label for="{{list._id}}">{{list.name}}
    {{#if list.checked}}
      <input name="{{list._id}}" value="{{list._id}}" type="checkbox" checked="checked">
    {{else}}
      <input name="{{list._id}}" value="{{list._id}}" type="checkbox">
    {{/if}}
  </label>
</li>
