<div class="nize-open-header">
  <h2 class="{{#if nize.editable}}nize-field-edit{{/if}}" role="title">{{nize.title}}</h2>
</div>
<a href="{{nize.link}}" class="image-box">
  <img src="{{nize.original}}">
</a>
<p class="{{#if nize.editable}}nize-field-edit{{/if}}" role="description">{{nize.description}}</p>

{{#if nize.editable}}
	<p><a class="button pink delete" href="javascript:void(0);">{{t "button.delete-nize"}}</a></p>
{{/if}}