
/**********************************************************************
* dropdown.scss
* All special dropdown menues.
**********************************************************************/

@import "../general/colors";


/*
 * Generic dropdown widget
 */
.dropdown {
/* layout */
  position: relative;
  display: block;
  height: 44px;
  float: left;

  & > a.select-button {
  
  /* layout */
    position: relative;
    width: auto;
    display: block;
    padding-left: 45px;
    padding-right: 45px;
  
  /* style */
    background: $white url('../images/dropdown-arrow.png') no-repeat 20px center;
    cursor: pointer;
    font-family: 'VerlagLight';
    font-weight: bolder;
    color: $purple;
    -webkit-transition: 0.1s ease-in;
    
    img {
      height: 40px;
      margin: -1px 5px -15px 0;
    }
    
    span {
      color: $darkgrey;
    }
    
    &:hover, &:focus {
      text-decoration: none;
      }
    }

  ul.dropdown-box {
  /* layout */
    position: absolute;
    display: none;
    top: 40px;
    left: 5px;
    right: 5px;
    margin: 0;
    padding: 0;
    z-index: 10;
  
  /* style */
    border: solid 1px #bdbebe;
    background: rgba(255,255,255,0.95);
    list-style: none;
    
    & > li {
      cursor: pointer;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      font-size: 0.9em;
      font-family: 'VerlagLight';
      font-weight: bolder;
      text-decoration: none;
      text-transform: uppercase;
      color: $darkgrey;
      white-space: nowrap;
      
      a {
        -webkit-transition: none;
      }
      
      &:hover {
        background: $purple;
        color: $white;
        
        a {
          color: $white;
          text-decoration: none;
        }
      }
      
      &.link-type {
        padding: 0;
        a {
          padding: 10px;
          display: block;
        }
        }
      }
    }
  
  &.open ul.dropdown-box {
    display: block;
    }
  }
  
/*
 * usermenu
 */
.usermenu .dropdown .select-button {
  padding-left: 1px;
  width: 102px;
  background-position: 125px center;
  padding-bottom: 11px;
  padding-top: 2px;
  }  
  
  
  
  
  
  