
/**********************************************************************
* file-upload.scss
* All user-input elements.
**********************************************************************/

@import "../general/colors";

div.file-upload {
  background: $white;
  border: 2px dashed $purple;
  text-align: center;
  display: block;
  width: 100%;
  padding: 3px 3px 0;
  position: relative;
  
  .instructions {
    padding: 50px 5px;
  }
  
  input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  img.preview {
    width: 100%;
  }
}