
/**********************************************************************
* flash.scss
* All messages.
**********************************************************************/

@import "../general/colors";

#flash {
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
  -webkit-transition: 0.1s ease-in;
  
  p {
    margin: 0;
    display: inline-block;
    padding: 5px 0 1px;
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
    color: white;
    
    .text {
      float: left;
      padding: 8px 0;
      }
    
    .icon {
      text-indent: -99999px;
      float: left;
      height: 30px;
      width: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      padding-right: 15px;
      }
    }
  
  .error {
    background: $pink;
    .icon {
      background-image: url("../images/icons/error.png");
      }
    }
  
  .warning {
    background: $orange;
    .icon {
      background-image: url("../images/icons/warning.png");
      }
    }
  
  .success {
    background: $green;
    .icon {
      background-image: url("../images/icons/success.png");
      }
    }
  }

.sticky #flash {
  
  p {
  font-size: 0.7em;
    
    .text {
      padding: 5px 0;
    }
    
    .icon {
      height: 20px;
    }
  }
}


/*
 * Inline form flashes 
 */
input.error {
  border-color: $pink;
  }
  
label.errormessage {
/* layout */
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: 160px;
  
/* style */
  font-family: 'VerlagBookItalic';
  text-transform: uppercase;
  font-size: 0.7em;
  background-image: url('../images/error_arrow_right.png');
  background-repeat: no-repeat;
  background-position: right 11px;
  }

label.errormessage span {
  background: $pink;
  color: white;
  padding: 10px;
  display: block;
  margin-right: 10px;
  }



