
/**********************************************************************
* images.scss
* All image styles.
**********************************************************************/

@import "../general/colors";


/*
 * image-box
 */
.image-box {
  height: auto;
  display: block;
  background: $lightgrey;
  text-align: center;
  overflow: hidden;
  position: relative;
  
  &.nize-image {
    height: 194px;
  }
  
  img {
    vertical-align: middle;
  }
}

img.avatar {
  height: 40px;
  width: auto;
}

img.thumb {
  width: 194px;
  height: auto;
}

img.full {
  width: 100%;
  height: auto; 
}