
/**********************************************************************
* nize.scss
* Nize preview + open + detail view.
**********************************************************************/

@import "../general/colors";
@import "../general/nizewidth";

/*
 * basic nize styling for listening in overview
 */
.nize {

/* layout */
  position: absolute;
  padding: 19px;
  width: nizeWidth(38);

/* style */
  background: $white;
  -webkit-transition: 0.5s opacity ease-out;
    
  h2, p {
  /* layout */
    overflow: hidden;
    text-overflow: ellipsis;
  
  /* style */
    font-family: 'VerlagLight';
    font-weight: normal;
    font-size: 20px;
    color: $black;
    text-align: left;
    white-space: nowrap;
    
    }
  p {
    font-size: 15px;
    }
  }

/*
 * an open nize
 */
.nize-open {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: auto;
  overflow-y: scroll;
  transition: all 0.3s ease-out;
  
  img {
    height: 200px;
    }
    
  a.nize-image {
    height: auto;
    }
  }
  
.nize-open-unit {
  position:fixed;
  transition: all 0.3s ease-out;
  border: solid 1px rgba(0,0,0, 0.17);
  padding: 25px;
  
  p {
    margin: 20px 0 30px 0;
    line-height: 1.5;
    }
    
  img {
    visibility: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: none;
    }
  }

.nize-open.loading {

  .nize-open-unit {
    background: transparent;
    border: solid 1px rgba(0,0,0,0);
    
    .nize-open-header {
      display: none;
      }
      
    p {
      display: none;
      }  
    a {
      background: transparent;
      } 
    img {
      width: auto;
      transition-property: height;
      }
    }
  }

.nize-open.loaded {
  
  .nize-open-unit {
    position: static;
    margin: 60px auto 300px;
    transition-property: none;
    }
  }

.nize-open.visible {
  background-color: rgba(255,255,255, 0.7);
  
  .nize-open-unit {
    top: 100px !important;
    box-shadow: 0 3px 50px rgba(34, 25, 25, 0.2);
    width: 600px;
    
    img {
      transition-property: height, margin-left  background, border;
      width: auto;
      }
    }
  }

.nize-open-header {
  position: relative;
  margin-bottom: 20px;
  
  h2 {
    display: inline-block;
    width: 516px;
    margin: 0;
    font-size: 25px;
    } 
  ul.rating {
    display: inline-block;
    }
  }



/*
 * a list of nizes
 */
.l-nizes {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  clear: both;
}