
/**********************************************************************
* rating.scss
* Rating widget.
**********************************************************************/

@import "../general/colors";
@import "../general/nizewidth";

/*
 * General rating style
 */

.rating,
.rating a:hover,
.rating a:active,
.rating a:focus,
.rating .current {
  background: url('../images/star.gif') left;
  }

.rating {
/* layout */
  position: relative;
  width: 80px;
  height: 25px;
  margin: 0px;
  padding:0px;
  overflow: hidden;

/* style */
  background-position: top left;
  list-style:none;
  
  li {
    display: inline;
    }
  }

.rating a,
.rating .current {
/* layout */
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  overflow: hidden;
  
/* style */
  text-indent: -9000px;
  line-height: 25px;
  outline: none;
  border: none;
  -webkit-transition: none;
  }

.rating a:hover,
.rating a:active,
.rating a:focus {
  background-position: left bottom;
  }

.rating.no-active a:hover, 
.rating.no-active a:active,
.rating.no-active a:focus {
  background-position: right center;
  background: none;
  cursor: default;
  }


.rating .current-rating {
  z-index:1;
  background-position: left center;
  }

.rating a.rate1 {
	width:25%;
	z-index:6;
	}

.rating a.rate2 {
	width:50%;
	z-index:5;
	}

.rating a.rate3 {
	width:75%;
	z-index:4;
	}

.rating a.rate4 {
	width:100%;
	z-index:3;
	}


/*
 * ratingfilter
 */
.ratingfilter {
  font-size: 1em;
  color: $darkgrey;
  padding-top: 9px;
  padding-bottom: 8px;
  
  label {
    float: left;
    padding: 4px 5px 0 0;
    }
  }





	
	