<ul>
  <li class="nize-field">
    <label for="nize-title">Title</label>
    <div class="nize-title">
      <input name="nize-title" type="text">
    </div>
  </li>
  <li class="nize-field">
    <label for="nize-description">Description</label>
    <div class="nize-description">
      <input name="nize-description" type="text">
    </div>
  </li>
  <li class="nize-field">
    <label for="nize-lists">lists</label>
    <div class="nize-lists"></div>
  </li>
  <li class="nize-field">
    <label for="nize-new-list">new List</label>
    <div class="nize-new-list">
      <input name="nize-new-list" type="text">
    </div>
  </li>
  <li class="rating-field">
    <label for="rating-field">Rating</label>
    <div class="nize-rating">
      <select name="rating">
        <option value="0" selected="selected">Choose a rating</option>
      </select>
    </div>
  </li>
  <li class="nize-field">
    <input class="nize-submit" type="submit" value="create Nize">
  </li>
</ul>
