<a href="/nize/{{nize._id}}" class="nize-image image-box"><img src="{{nize.thumb}}" class="thumb"></a>
<h2 role="title">{{nize.title}}</h2>
<p class="description" role="description">
  {{nize.description}}
</p>