{{#if filters}}
<div class="container_12">
  <h2>{{t "headline.no-nize-in-category"}}</h2>
  <ol class="grid_4 push_4">
    <li>{{{t "paragraph.add-bookmarklet"}}}</li>
    <li>{{{t "paragraph.upload-nize"}}}</li>
  </ol>
</div>
{{else}}
<div class="container_12">
  <h2>{{t "headline.no-nize"}}</h2>
  <ol class="grid_4 push_4">
    <li>{{{t "paragraph.add-bookmarklet"}}}</li>
    <li>{{{t "paragraph.upload-nize"}}}</li>
  </ol>
</div>
{{/if}}
