form.user-settings(action="/settings/", method="post", class="userform").container_12
  h2 #{t("headline.profile-settings")}
  ul
    li
      label.grid_6.push_3 #{t("form.label.account-picture")}
      p.clear
      .grid_3.push_3
        img(src=user.original, alt="avatar of " + user.username, title=user.username, class="thumb userimage")

      .grid_3.push_3
        ul
          li
            input.file-upload(type="file", data-crop="true", data-post="/settings/upload", name="avatar")

          - if (user.facebookId)
            li
              a.button.darkblue.small.refresh_facebook #{t("button-refresh-from-facebook.description")}

    li.hr.full.grid_6.push_3

    - if (!user.facebookId)
      li.grid_6.push_3
        <!-- Email -->
        label(for="email") #{t("form.label.email")}
        ul
          li
            input(type="text", name="email", value="#{user.email}")
          li
            button.button.darkgrey(type="submit", name="func_email", value="true") #{t("button.change-email")}

      li.hr.full.grid_6.push_3

    li.grid_6.push_3
      <!-- Language -->
      label(for="lang") #{t("form.label.language")}
      select(name="lang")
        - if(user.lang === "en")
          option(value="en", selected) #{t("lang.en")}
          option(value="de") #{t("lang.de")}
        - else
          option(value="en") #{t("lang.en")}
          option(value="de", selected) #{t("lang.de")}

      button.button.darkgrey(type="submit", name="func_lang", value="true") #{t("button.change-language")}

    li.hr.full.grid_6.push_3

    - if (!user.facebookId)
      li.grid_6.push_3.change_password
        <!-- Password -->
        label #{t("form.label.password")}

        ul
          li
            input(type="text", name="old_password", placeholder="#{t("form.placeholder.old-password")}")

          li
            input(type="text", name="new_password", placeholder="#{t("form.placeholder.new-password")}")

          li
            input(type="text", name="verify_password", placeholder="#{t("form.placeholder.repeat-password")}")
          li
            button.button.green(type="submit", name="func_password", value="true") #{t("button.change-password")}

      li.hr.full.grid_6.push_3

    li.grid_6.push_3
      <!-- Delete account -->
      label.h #{t("form.label.delete")}
      a(href="/password/change", class="button pink") #{t("button.delete-account")}

    li.hr.full.grid_6.push_3


script
  $(document).ready(function(){

    // add drag & drop file-upload
    $('input.file-upload').droparea({
      'instructions': '#{t("form.label.file-drop")}',
      'over': '#{t("form.label.file-over")}',
      'uploaded': '#{t("form.label.file-uploaded")}',
      complete: function(result, file, input, area){
        updateAvatars(result.original, result.avatar);
      },
    });

    //refresh foto from facebook
    $(".refresh_facebook").click(function(){
      $.getJSON('/user/updatefromfacebook', function(data){
        if(data) {
          updateAvatars(data.original, data.avatar);
        }
      });
    });

    //password change
    var pwd_cont = $(".change_password").each(function(){
      $(this).find("ul").hide();

      var element = $(this).append('<a href="javascript:void(0);" class="button darkgrey show_password_inputs">Change Password</a>');
      $(this).find(".show_password_inputs").click(function(){
        $(this).prev().fadeIn();
        $(this).hide().remove();
      });

    });

  });

  function updateAvatars(original, avatar) {
    $("img.userimage.thumb").attr("src", original);
    $("img.userimage.avatar").attr("src", avatar);
  };









