.slide
    img(src="../images/add_bookmarklet/chrome1.png").grid_12

    .grid_5.push_1
      != partial('../bookmarklet/bookmarklet_button')

    .grid_5.push_1
      h3= t('headline.need-help')
      ol
        li
          strong= t('browser.chrome.hint-1')
        li= t('browser.chrome.hint-2')

  .slide
    img(src="../images/add_bookmarklet/chrome2.png").grid_12

    .grid_5.push_1
      != partial('../bookmarklet/bookmarklet_button')

    .grid_5.push_1
      h3= t('headline.need-help')
      ol
        li=t('browser.chrome.hint-1')
        li
          strong= t('browser.chrome.hint-2')
