.row
  .twelve.columns
    != partial('includes/menu')

.row
  .twelve.columns
    h4.subheader= title

.row
  .twelve.columns
    ul.nizes
      - if(nizes.length)
        each nize in nizes
            .nize
              h6= nize.title
              span= nize.description
      - else
        .no-results No articles found. Create one
          a(href="/nizes/new") &nbsp;here

