.row.row-box
  .twelve.columns
    h6.subheader= title

.row.row-box
  .twelve.columns
     form(action='/nize', method='post', class='nice')
      .nize-title
        label(for='nize-title') title 
        input(type='text', name='title', class='input-text')
      .nize-description
        label(for='nize-description') Description
        input(type='text', name='description', class='input-text')
      .nize-public
        label public?
          input(type='checkbox', name='open', value='true')

      .nize-lists
        each list in lists 
          label= list.name
            input(type='checkbox', name='lists[]', value='#{list._id}')
      .submit
        input(type='submit', value='create', class='radius small button')
