
h3.grid_4.push_3 #{nize.title}
.grid_2.push_3
  != partial('includes/rating', {active: false, value: nize.rating, bordered: false})

p.clear

.grid_6.push_3

  a.image-box
    img(src="#{nize.original}", title="#{nize.title}")
  p #{nize.description}

  p.hr.full.text_left #{from_now(nize.createdAt, "time.saved")}, #{t("app.categories")}: #{lists_as_string(lists)}

  h4 #{t("headline.other-nizes")}
  .siblings_container
    each sibling in siblings
      a(href="/nize/#{sibling._id}", title="#{sibling.title}")
        img(src="#{sibling.thumb}", title="#{sibling.title}")

p.clear