- if (typeof(errors) == 'undefined')
  - var errors = null

- var title = ""

- if (typeof(nize) != 'undefined')
  - title = nize.title


form.add-nize(action='/nize', method='post', class='nice').container_12

  h2.grid_8.push_2 #{t("headline.upload-images")}

  ul
    li
      .grid_3.push_2
        input.file-upload(type="file", data-crop="true", data-post="/nize/upload", name="avatar")

      .grid_5.push_2
        ul
          li
            label(for='field_title').h #{t("form.label.title")}
            input(type='text', name='title', id="field_title", placeholder="#{t("form.placeholder.title")}", value="#{title}", class='input-text' + error_class(errors, "title"))
            != error_label(errors, "title")
          li
            label(for='field_description').h #{t("form.label.description")}
            textarea(name='description', id="field_description", placeholder="#{t("form.placeholder.description")}")

          li
            label #{t("form.label.category")}
            ul.multiselect.bordered
              each list in lists
                li
                  label(for="field_list_#{list._id}") #{list.name}
                  input(type='checkbox', name='lists[]', value='#{list._id}', id="field_list_#{list._id}")

              li.add
                label(for="field_add_category") #{t("form.label.add-new-category")}:
                input(name="add_category_name", id="field_add_category")
                button.button.small.add.darkgrey(type="button") #{t("button.add")}

          li
            != partial('includes/rating', {active: true, value: 0, bordered: true})

    li.grid_8.push_2
      button.button.purple.addnize(type="submit") #{t("button.add-to-weddynize")}

script
  $(document).ready(function(){

    // manage add category
    $("li.add button").click(function(){

      var box = $(this).parent();
      var name = box.find("input").val();


      $.post('/list', {name: name}, function(data){
        if(data) {
          console.log(data);
          console.log(box);
          var title = data.name;
          var id = data._id;
          box.before('<li><label for="field_list_' + id + '">' + title + '</label><input type="checkbox" name="lists[]" value="' + id + '" id="field_list_' + id + '" /></li>');
          box.find('input').val("");
        }
      }, 'json');
    });

    // add drag & drop file-upload
    $('input.file-upload').droparea({
      complete: function(result, file, input, area){

        // display image
        $(area).find("img.preview").remove();
        $(area).append('<img src="' + result.original + '" class="preview" />');

        // add hidden input fields
        if($(area).find('input[name="original"]').length == 0) $(area).append('<input type="hidden" name="original" />');
        if($(area).find('input[name="thumb"]').length == 0) $(area).append('<input type="hidden" name="thumb" />');
        if($(area).find('input[name="format"]').length == 0) $(area).append('<input type="hidden" name="format" />');
        if($(area).find('input[name="size"]').length == 0) $(area).append('<input type="hidden" name="size" />');

        $(area).find('input[name="original"]').val(result.original);
        $(area).find('input[name="thumb"]').val(result.thumb);
        $(area).find('input[name="format"]').val(result.format);
        $(area).find('input[name="size"]').val(result.size);

      },
    });
  });



