h2.grid_12 #{t("headline.add-bookmarklet")}

.bookmarklet-container
  .inner
    != partial('../browserswitch/bookmarklet_' + browser)

script
  $(document).ready(function(){
    var container = $(".bookmarklet-container").each(function(){

      var width = $(this).width();
      var slides = $(this).find(".slide");
      var inner = $(this).find(".inner");
      slides.css({"width": width});


      inner.css({"width": slides.length*width});
      slide_left(inner, width, width);
    });
  });

  function slide_left(element, offset, width) {

    setTimeout(function(){

      element.css({"margin-left": -offset});

      var new_offset = offset+width;

      if(new_offset >= element.width()-10) {
        new_offset = 0;
      }

      slide_left(element, new_offset, width);

    }, 5000);
  }


.hr.grid_12.full

h2.grid_12 #{t("headline.use-bookmarklet")}

img(src="../images/add_bookmarklet/preview.png").grid_8
div.grid_4
  h3 #{t("headline.collecting-inspirations")}
  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.