
/**********************************************************************
* buttons.scss
* Styles for buttons.
**********************************************************************/

@import "../general/colors";

/*
 * generic basic button 
 */
.button, button, input[type="submit"] {

/* layout */
  display: block;
  box-sizing: content-box;
  width: 100%;
  padding: 13px 5px 10px;
  min-width: 120px;

/* style */
  color: $white;
  background: $blue;
  background-position: 10px center;
  background-repeat: no-repeat;
  text-align: center;
  border:none;
  text-transform: uppercase;
  font-family: "VerlagLight";
  font-weight: bolder;
  font-size: 0.8em;
  -webkit-transition: 0.1s ease-in;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 0px 4px rgba(0,0,0, 0.1);
    color: $white;
    text-decoration: none;
    background-color: darken($blue, 7%);
  }
  
  &:active {
    background-color: darken($blue, 10%);
    box-shadow: none;
  } 
}


/*
 * smaller button style
 */
.button.small {
   padding: 9px 5px 6px;
   min-width: 110px;
   margin-top: 4px;
 }


/*
 * buttons in all colors
 */
.button.darkblue {
  background-color: $darkblue;
  &:hover {
    background-color: darken($darkblue, 7%);
  }
  &:active {
    background-color: darken($darkblue, 10%);
  } 
}

.button.green {
  background-color: $green;
  &:hover {
    background-color: darken($green, 7%);
  }
  &:active {
    background-color: darken($green, 10%);
  } 
}

.button.orange {
  background-color: $orange;
  &:hover {
    background-color: darken($orange, 7%);
  }
  &:active {
    background-color: darken($orange, 10%);
  } 
}

.button.darkgrey {
  background-color: $darkgrey;
  &:hover {
    background-color: darken($darkgrey, 7%);
  }
  &:active {
    background-color: darken($darkgrey, 10%);
  } 
}

.button.lightgrey {
  background-color: $lightgrey;
  border: 1px solid darken($lightgrey, 10%);
  color: $darkgrey;
  &:hover {
    background-color: darken($lightgrey, 7%);
    color: $black;
  }
  &:active {
    background-color: darken($lightgrey, 10%);
    color: $black;
  } 
}

.button.purple {
  background-color: $purple;
  border: 1px solid darken($purple, 10%);
  color: $white;
  &:hover {
    background-color: darken($purple, 7%);
    color: $white;
  }
  &:active {
    background-color: darken($purple, 10%);
    color: $white;
  } 
}
.button.pink {
  background-color: $pink;
  border: 1px solid darken($pink, 10%);
  color: $white;
  &:hover {
    background-color: darken($pink, 7%);
    color: $white;
  }
  &:active {
    background-color: darken($pink, 10%);
    color: $white;
  } 
}


/*
 * buttons with icons 
 */
.button.facebook {
  background-image: url('../images/facebook.png');
}

.button.join {
  background-image: url('../images/join.png');
}

.button.login {
  background-image: url('../images/login.png');
} 

.button.load-more {
  background-image: url('../images/load-more.png');
}  
 

.button.disabled {
  display: none;
}
 


.bookmarklet {
  background: $orange;
  cursor: -webkit-grab;
  border-right: 3px solid darken($orange, 15%);
  border-bottom: 3px solid darken($orange, 4%);
  width: 250px;
  
  &:hover {
    background: $orange;
    outline: 2px dashed $darkgrey;
  }
  
}





