
/**********************************************************************
* custom.scss
* Styles for custom elements, not used in many places
**********************************************************************/

@import "../general/colors";
@import "../general/nizewidth";

/*
 * logo
 */
.logo {
  margin-top: 10px;
  margin-bottom: 0;
  background: url('../images/logo.png') no-repeat;
  height: 30px;

  a {
    display: block;
    text-indent: -9999px;
    }
  }


/*
 * Imprint text in the footer
 */
.imprint {

/* layout */
  margin: 0;
  padding: 15px 0;
  float: right;

/* style */
  font-size: 14px;
  font-family: 'VerlagBookItalic';

  a {
    background: url('../images/liechtenecker-tinkering.png') no-repeat right center;
  }
}


/*
 * search-form controller for searching nizes.
 */
.l-search-controls {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  }

.l-search-controls-inner {
  position: absolute;
  top: 15px;
  float: left;
  width: 1000px;
  padding: 10px 10px 5px;
  -webkit-transition: 0.1s ease-in;

  .dropdown {
    width: nizeWidth();
    }

  .ratingfilter {
    width: nizeWidth(22);
    float: left;
    margin-left: $gutterWidth;
    }

  .search {
    width: nizeWidth(52, 2);
    float: left;
    margin-left: $gutterWidth;
    }

  }

.sticky .l-search-controls-inner {
  position: relative;
  top: auto;
  }

.ratingfilter {
  width: 160px;
  float: left;

  ul {
    clear: none;
  }
}


/*
 * bookmarklet
 */

.bookmarklet-container {
  float: left;
  width: 100%;
  overflow-x: hidden;

  .inner {
    -webkit-transition: margin-left 0.5s ease-in;
    float: left;

    .slide {
      float: left;
    }
  }
}

p.add-bookmarklet {

  text-align: center;
  color: $darkgrey;

  a.button.bookmarklet {
    margin: 60px auto 10px;
  }
}



/*
 * siblings_container
 */
.siblings_container {
  a {
    -webkit-transition: 0.1s ease-in;
    border: 5px solid white;
    display: block;
    float: left;
    margin-right: 7px;

    &:hover {
      border-color: $purple;
    }
  }

  img {
    width: 64px;
    height: 64px;
    display: block;
    float: left;
    }
  }



form.user-settings img.userimage {
  border: 5px solid white;
}



/*
 * emocion
 */
 .emocion {
  font-size: 15em;
  margin: 0 auto;
  line-height: 0.4em;
  display: inline-block;
  -webkit-transform:rotate(90deg);
  .smaller {
    font-size: 0.7em;
  }
 }




