
/**********************************************************************
* forms.scss
* General form + userform styles.
**********************************************************************/

@import "../general/colors";

/*
 * generic forms
 */
form {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  
  fieldset {
    border:none;
    margin: 0;
    padding: 0;
  }
  
  ul, ol {
    margin: 0;
    padding: 0 0 10px;
    width: 100%;
    float: left;
    clear: both;
    list-style: none;
    
    li {
      clear: both;
      float: left;
      margin: 0 0 15px;
      
      &.hr.full, &.hr {
        padding-top: 0;
      }
      
      ul, ol {
        padding-bottom: 0;
        margin-bottom: -10px;
        
        li {
          float: none;
        }
      }
    }
  }
}

/*
 * labels
 */
label {
  font-size: 1em;
  font-family: "VerlagLight";
  text-transform: uppercase;
  font-weight: bolder;
  color: $darkgrey;
  display: block;
  padding-bottom: 5px;
}