
/**********************************************************************
* inputs.scss
* All user-input elements.
**********************************************************************/

@import "../general/colors";
@import "../general/nizewidth";

/*
 * Generic Input
 */
input, textarea {

/* layout */
  position: relative;
  display: block;
  width: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 11px 5px 8px;

/* style */
  border: solid 1px $darkgrey;
  font-size: 0.8em;
  font-family: 'VerlagLight';
  text-decoration: none;
  text-transform: uppercase;
  color: $darkgrey;
  white-space: nowrap;
  outline: none;
  -webkit-transition: box-shadow 0.1s ease-in;

  &:hover {
    color: $black;
  }

  &:focus {
    box-shadow: 0 0 4px $purple;
    color: $black;
  }
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.multiselect {
  position: relative;
  padding-bottom: 60px;
  float: none;

  &.bordered {
    padding: 8px 5px 60px;
  }

  li {

    padding-top: 3px;
    margin-bottom: 4px;

    input {
      float: left;
      display: block;
      width: auto;
      margin: 4px 8px 0 5px;
    }

    label {
      display: inline;
      font-size: 0.8em;
    }
  }

  li.add {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35px;
    margin: 0;
    padding: 0;
    border-top: 1px solid $lightgrey;

    input {
      border: none;
      float: left;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 2px;
      right: 75px;
      bottom: 2px;
      left: 70px;
    }

    label {
      float: left;
      font-family: "VerlagBookItalic";
      padding-left: 10px;
      width: 60px;
      height: 12px;
      font-size: 0.6em;
      position: absolute;
      left: 10px;
      top: 50%;
      margin: -6px 0 0 0;
      padding: 0;
    }

    button {
      position: absolute;
      width: 60px;
      min-width: 60px;
      right: 2px;
      bottom: 2px;
      margin: 0;
    }

  }

}

/*
 * search input field
 */
.search input {
  /*width: columnWidth(47, 2);*/
  padding: 15px 5px 11px 45px;
  display: block;
  background: #fff url('../images/search-loupe.png') no-repeat 14px 12px;
  }


/*
 * input instant edit field
 */
.nize p.nize-field-edit, .nize h2.nize-field-edit, .nize-field-edit {
  min-height: 30px;
  -webkit-transition: box-shadow 0.1s ease-in;

  &:focus {
    box-shadow: 0 0 4px $purple;
    outline: none;
  }

  &:hover {
    cursor: pointer;
    }

  &.highlight {
    background: $green;
    color: $white;
    -webkit-transition: background 0.2s ease-in;
    &.error {
      background: $pink;
      }
    }

  }

.nize-open-unit:hover .nize-field-edit, .nize-open-unit .nize-field-edit.show-edit {
  background: $lightgrey url('../images/nize-field-edit.png') no-repeat right center;
  }

.nize-open-unit:hover .nize-field-edit.highlight, .nize-open-unit .nize-field-edit.show-edit.highlight {
  background: $green;
  color: $white;
  }
