
/**********************************************************************
* navigation.scss
* Styles for all navigation elements.
**********************************************************************/

@import "../general/colors";

/*
 * general nav style
 */
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;  
    
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      
      a.button {
        width: auto;
      }
    }
  }  
}


/*
 * top menu
 */
.top-menu ul {
  float: right;
  text-align: right;
  
  li {
    margin-left: 20px;
  }
}


/*
 * footer menu 
 */
.footer-menu ul {
  padding: 15px 0;
  float: left;
  
  li {
    float: left;
    padding: 0 10px;
    a {
      font-size: 14px;
      font-family: 'VerlagBookItalic';
    }
  }
}