
/**********************************************************************
* text.scss
* All general text styles for the application.
**********************************************************************/

@import "../general/colors";

/*
 * Headlines
 */

h2, h3, h4 {
  font-family: "Verlag-XLight";
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

h2 {
  color: $purple;
  font-size: 2em;
}

h3 {
  text-align: left;
  color: $darkgrey;
  font-size: 1.5em;
  font-weight: normal;
}

h4 {
  text-align: left;
  color: $darkgrey;
  font-size: 1.3em;
  font-weight: normal;
}

p {
  font-family: "VerlagLight";
}

/*
 * lists
 */
ul, ol {
 font-family: "VerlagLight";
}

/*
 * link
 */
a {
  color: $darkgrey;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;

  &:hover {
    color: $black;
    text-decoration: underline;
  }
}

/*
 * paragraph
 */

.center {
  text-align: center;
}

/*
 * horizontal ruler
 */
.hr {

/* layout */
  position: relative;
  padding: 10px 0;

/* style */
  text-align: center;
  color: $darkgrey;
  font-size: 0.8em;

  .left, .right {
    display: block;
    height: 1px;
    top: 50%;
    margin-top: -1px;
    position: absolute;
    width: 48%;
    border-bottom: 1px dotted #6B6E71;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  &.full {
    border-bottom: 1px dotted #6B6E71;
    padding-top: 10px;
    margin-bottom: 20px;
  }

}

