form.login(action='/login', method='post', class='userform container_12')
  h2.grid_12= t('headline.login')
  ul
    li.grid_4.push_4
      a(href="/auth/facebook", class="button facebook big darkblue")= t('form.button.login-facebook')
    li.hr.grid_12
      p= t('paragraph.or')
      span.left
      span.right
    li.grid_4.push_4
      <!-- Username/Email -->
      label(for='username', class='h')= t('form.label.username')
      input(type='text', name='username', class='input-text', placeholder=t('form.placeholder.username'))
    li.grid_4.push_4
      <!-- Password -->
      label(for='password', class='h')= t('form.label.password')
      input(type='password', name='password', class='input-text', placeholder=t('form.placeholder.password'))
    li.grid_4.push_4
      button(type='submit', class='button green big login')= t('form.button.login')
