h4 Create a new nize

form(action='/nize/upload', method='post', class='nice')
  .nize-title
    label(for='nize-title') title 
    input(type='text', name='title', class='input-text')
  .nize-description
    label(for='nize-description') Description
    input(type='text', name='description', class='input-text')
  .submit
    input(type='submit', value='create', class='radius small button')
