- if (typeof(errors) == 'undefined')
  - var errors = null

form(action='/user', method='post', class='userform container_12')
  h2.grid_12= t('headline.register')
  ul.container_12
    li.grid_4.push_4
      a(href='/auth/facebook', class='button big facebook darkblue')= t('form.button.facebook-connect')
    li.hr.grid_12
      p= t('paragraph.or')
      span.left
      span.right
    li.grid_4.push_4
      <!-- Username -->
      label(for='username', class='h')= t('form.label.username')
      input(type='text', name='username', id='username', placeholder=t('form.placeholder.username'), class='input-text' + error_class(errors, "username"))
      != error_label(errors, "username")
    li.grid_4.push_4
      <!-- Email -->
      label(for='email', class='h')= t('form.label.email')
      input(type='text', name='email', id='email', placeholder=t('form.placeholder.email'), class='input-text' + error_class(errors, "email"))
      != error_label(errors, "email")
    li.grid_4.push_4
      <!-- Password -->
      label(for='password', class='h')= t('form.label.password')
      input(type='password', name='password', placeholder=t('form.placeholder.password'), class='input-text' + error_class(errors, "password"))
      != error_label(errors, "password")
    li.grid_4.push_4
      button(type='submit', class='button big join')= t('form.button.join')
