<ul class="rating {{#if notActive}}no-active{{/if}}">
  <li class="current" style="width: {{rating}}%;">{{current}} out of 5</li>
  {{#each ratings}}
  <li><a href="javascript:void(0);" class="rate{{this.value}}" data-rating-value="{{this.value}}" title="{{this.text}}">{{this.value}}</a></li>
  {{/each}}
</ul>
