|if (!('weddynize' in window)) window.weddynize = {};
|(function (G) {
|G.userId = "#{userId}";
|G.lists = !{JSON.stringify(lists)};
|G.siteUrl = "#{getSiteUrl()}";
|G.cssRules = "#{css}";
|G.ratings = !{JSON.stringify(ratings)};
|}(window.weddynize));
include ./bookmarklet.js
