p.add-bookmarklet
  a(class="bookmarklet button", draggable="true", href="javascript:void((function(){wn_userId='#{user._id}';var wnb=document.createElement('script');wnb.setAttribute('src','" + getSiteUrl() + "/bookmarklet/#{user._id}.js?x='+(Math.random()));wnb.setAttribute('type','text/javascript');document.getElementsByTagName('body')[0].appendChild(wnb);}()))") Weddynize Bookmarklet
  span.add-bookmarklet-description= t('headline.drag-bookmarklet')