/*------------------------------------*\
    README

    #- will be replaced with a unique value from the bookmarklet
    #_cdn will be replaced with the asset server from the bookmarklet

\*------------------------------------*/


/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

.#-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  z-index: 738497;
  opacity: .45;
  width: 100%;
}
.#-bookmarklet {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 738497;
  font-size: 14px !important;
}

.#-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  margin: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  text-align: center;
  border-bottom: solid 1px #e6e7e5;
  background: #fff url('#_cdn/images/header-decoration.jpg') repeat-x;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.#-header h1 {
  width: 234px;
  height: 30px;
  float: left;
  background: url('#_cdn/images/logo.png') no-repeat;
  margin: 26px 0 0 20px;
}
.#-header h1 a {
  display: block;
  text-indent: -9999px;
  background: none;
}

.#-header .#-title {
  display: inline-block;
  width: 300px;
  text-align: center;
  height: 30px;
  margin: 26px 0 0 -150px;
  line-height: 30px;
}

.#-header .#-cancel {
  float: right;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  line-height: 64px;
  margin: 6px 0 0 0;
  padding-right: 26px;
}


/*------------------------------------*\
    $FLASH
\*------------------------------------*/
.#-flash {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 42px;
  text-align: center;
}

.#-flash .#-success {
  height: 42px;
  background: #749581;
}

.#-flash p {
  margin: 0;
  display: inline-block;
  padding: 5px 0 1px;
  text-align: center;
  font-size: 0.8em;
  text-transform: uppercase;
  color: white;
}

.#-flash p .#-icon {
  text-indent: -99999px;
  float: left;
  height: 30px;
  width: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  padding-right: 15px;
}

.#-flash p .#-text {
  float: left;
  padding: 8px 0;
}

.#-flash .#-success p .#-icon {
  background-image: url('#_cdn/images/icons/success.png');
}

/*------------------------------------*\
    $BODY
\*------------------------------------*/

.#-body {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
}

  .#-no-images-found {
    color: #fff;
  }

  .#-images-box {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 24px auto;
  }

    .#-nize-wrap {
      background: #fff;
      width: 200px;
      height: 200px;
      padding: 15px;
      overflow: hidden;
      -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
         -moz-transition: all 0.3s ease-out;  /* FF4+ */
           -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
              transition: all 0.3s ease-out;
    }

      .#-nize-image-wrap {
        display: block;
        width: 200px;
        height: 200px;
        overflow: hidden;
        vertical-align: middle;
        float: left;
      }

      .#-nize-wrap :hover .#-nize-add-button {
        opacity: 1;
      }
        .#-nize-image-wrap img {
          margin: 0;
          -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
             -moz-transition: all 0.3s ease-out;  /* FF4+ */
               -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
                  transition: all 0.3s ease-out;
        }

        .#-nize-add-button {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 110px;
          height: 46px;
          background: #b9a8ec url('#_cdn/images/add-nize.png') no-repeat center;
          text-indent: -9999px;
          border: none;
          margin: -23px 0 0 -55px;
          cursor: pointer;
          opacity: 0;
          -webkit-transition: opacity 0.1s ease-out;  /* Saf3.2+, Chrome */
             -moz-transition: opacity 0.1s ease-out;  /* FF4+ */
               -o-transition: opacity 0.1s ease-out;  /* Opera 10.5+ */
                  transition: opacity 0.1s ease-out;
        }

          .#-nize-add-button span {
            position: absolute;
            top: 18px;
            left: 20px;
            display: block;
            width: 12px;
            height: 13px;
            background: url('#_cdn/images/add-nize-spinner.png') no-repeat;
          }

          .#-nize-add-button.loading span {
            -webkit-animation: rotate 1s linear infinite;
          }

        .#-nize-add-button.loading {
          opacity: 1;
        }

      ul.#-nize-form {
        float: right;
        margin: 0;
        padding: 0;
        list-style: none;
      }

        ul.#-nize-form li {
          margin-bottom: 10px;
        }

        ul.#-nize-form li.#-rating {
          display: inline-block;
          border: solid 1px #e8e8e8;
          padding: 0 10px;
        }
        ul.#-nize-form li.#-rating span {
          display: inline-block;
          height: 30px;
          margin-right: 10px;
          font-style: italic;
        }
        ul.#-nize-form input, ul.#-nize-form textarea, ul.#-nize-form label, ul.#-nize-form li.#-rating span {
          font-family: 'arial' !important;
          font-weight: normal;
          font-size: 12px;
          line-height: 1;
          color: #373737;
          text-transform: uppercase;
        }
        ul.#-nize-form input, ul.#-nize-form textarea {
          border: solid 1px #e8e8e8;
          background: #fff;
          box-sizing: border-box;
          margin: 0;
          padding: 0 10px;
          font-style: italic;
          width: 100% !important;
          -webkit-transition: all 0.1s ease-out;
            -moz-transition: all 0.1s ease-out;
             -ms-transition: all 0.1s ease-out;
              -o-transition: all 0.1s ease-out;
                 transition: all 0.1s ease-out;
        }
        ul.#-nize-form input:hover, ul.#-nize-form textarea:hover {
          border: solid 1px #999;
        }
        ul.#-nize-form input {
          height: 45px !important;
        }
        ul.#-nize-form textarea {
          padding-top: 10px;
          height: 120px;
          max-height: 120px;
        }

      .#-nize-form-submit {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 15px;
        height: 60px;
        background: #b5a1e9 url('#_cdn/images/bookmarklet-add-nize.png') no-repeat center;
        text-indent: -9999px;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      .#-nize-form-submit.#-loading {
        background: #b5a1e9 url('#_cdn/images/bookmarklet-add-nize-loading.png') no-repeat center;
      }

      ul.#-nize-form-lists {
        list-style: none;
        border: solid 1px #e8e8e8;
        border-bottom: none;
        background: #fff;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100% !important;
        height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
      }
        ul.#-nize-form-lists li {
          margin: 0;
          padding: 0 10px;
          list-style: none;
        }
        ul.#-nize-form-lists li:hover {
          background: #e8e5f0;
        }
          ul.#-nize-form-lists label {
            display: block;
            padding: 8px 0;
          }
          ul.#-nize-form-lists input {
            display: inline;
            width: auto !important;
            height: auto !important;
            margin-right: 10px;
            text-transform: none;
          }

/*------------------------------------*\
    $RATING
\*------------------------------------*/
.#-nize-form-rating,
.#-nize-form-rating a:hover,
.#-nize-form-rating a:active,
.#-nize-form-rating a:focus,
.#-nize-form-rating .#-current {
  background: url('#_cdn/images/star.gif') left;
}

.#-nize-form-rating {
  position: relative;
  top: 10px;
  width: 80px;
  height: 25px;
  margin: 0px;
  padding:0px;
  list-style:none;
  overflow: hidden;
  background-position: top left;
  display: inline-block;
}

.#-nize-form-rating li {
  display: inline;
}

.#-nize-form-rating a,
.#-nize-form-rating .#-current {
  position: absolute;
  top: 0;
  left: 0;
  text-indent: -9000px;
  height: 25px;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.#-nize-form-rating a:hover,
.#-nize-form-rating a:active,
.#-nize-form-rating a:focus {
  background-position: left bottom;
}

.#-nize-form-rating.no-active a:hover
.#-nize-form-rating.no-active a:active,
.#-nize-form-rating.no-active a:focus {
  background-position: right center;
  background: none;
  cursor: default;
}

.#-nize-form-rating .#-current-rating {
  z-index:1;
  background-position: left center;
}

.#-nize-form-rating a.rate1 {
	width:25%;
	z-index:6;
}

.#-nize-form-rating a.rate2 {
	width:50%;
	z-index:5;
}

.#-nize-form-rating a.rate3 {
	width:75%;
	z-index:4;
}

.#-nize-form-rating a.rate4 {
	width:100%;
	z-index:3;
}


/*------------------------------------*\
    $ANIMATION
\*------------------------------------*/

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
