!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  != partial('../includes/header')
  body
  
  != partial('includes/flash')
  
  //Header elements
  header#header
    .container_12.inner
      != partial('includes/top')

  section#content
    .container_12.inner
      != body
  
  //Footer elements
  != partial('includes/footer')
