
/**********************************************************************
* colors.styl
* holds all the color-definitons for the application.
**********************************************************************/

/*
 * colors
 */
$orange : #d9c6a9;
$pink : #D41F56;
$purple : #9284E9;
$blue : #95c3e4;
$darkblue : #325C99;
$green : #749581;

/*
 * s/w
 */
$white : #fff;
$lightgrey : #f3f3f4;
$darkgrey : #818181;
$black : #000;
