/**********************************************************************
* Nizes-Grid-System (only for nizes!)
**********************************************************************/

$maxWidth: 1024px;
$gutterWidth: 24px;
$columns: 4;

@function nizeWidth($padding: 0, $multiply: 1) {
  $width: (232px * $multiply) - $padding;
  @if $multiply > 1 {
    $width: $width + ($gutterWidth * ($multiply - 1));
  }
  @return $width;
}