
/**********************************************************************
* base.scss
* All basic styles.
**********************************************************************/

@import "../general/colors";

body {
  background: $lightgrey;
}

/*
 * makes the browser stop scrolling when a popup is open
 */
body.noscroll {
  overflow: hidden !important;
  
  #header.sticky {
    margin-right: -15px; // needs less width because scrollbar gets removed - change to js solution for cross-browser!
  }
}


/*
 * set an element invisible, but not hidden
 */
.h {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
}


/*
 * adds text-align left to elements
 */
.text_left {
  text-align: left;
}


/*
 * generic borderd class mostly used for rating-widgets.
 */
.bordered {
  border: 1px solid $darkgrey;
  -webkit-transition: 0.1s ease-in;
  padding: 12px 10px 11px;
  background: $white;
  
  &:hover {
    border: 1px solid $black;
  }
}