
/**********************************************************************
* layout.scss
* Basic page structure.
**********************************************************************/

@import "../general/colors";


/*
 * Basic styles for all main elements
 */
#header, #content, #featured, #footer {
  position: relative;
  width: 100%;
  z-index: 20;
  float: left;
  clear: both;
  
  .inner {
    padding: 10px 0;
  }
}


/*
 * Header
 */
#header {

/* layout */
  padding-top: 6px;
  z-index: 30;

/* style */
  background: #fff url('../images/header-decoration.jpg') repeat-x;
  box-shadow: 0 0 3px rgba(0,0,0, 0.1);
  -webkit-transition: box-shadow 0.1s ease-in;
  
  &.smaller {
    box-shadow: 0 0 8px rgba(0,0,0, 0.1);
  }
  
  &.sticky {
    position: fixed;
    margin-bottom: 0 !important;
    top: 0;
    left:0;
    right: 0;
    z-index: 50;
  }
}


/*
 * Content
 */
#content {

/* layout */
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
  
/* style */
  background-color: $lightgrey;
}


/*
 * Featured Content
 */
#featured {
/* layout */
  min-height: 150px;
  padding-bottom: 40px;

/* style */
  background: url("../images/yellow-bg.jpg") repeat;
  text-align: center;
  color: $darkgrey;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  outline: 1px solid $orange;
}


/*
 * Footer
 */
#footer {
  background: $white;
}

